@model StudentCore.Core.Models.StudentLogin


<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@using (Html.BeginForm("Loginpage", "Student", new { @class = "form-horizontal", role = "form", id = "formDetails" }))
{



    <div class="login-box">
        <h1>Login</h1>


        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            @Html.TextBoxFor(x => x.Loginname, new { id = "example" })
        </div>


        <div class="textbox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            @Html.PasswordFor(x => x.Password, new { id = "example" })
        </div>


        <button class="btn" id='check'>SUBMIT</button>
    </div>



}
@if (ViewBag.Message != null)
{
    <script type="text/javascript"> window.onload = function () { alert("@ViewBag.Message"); };</script>
}

<script type='text/javascript'>
    $(function () {

        $("#check").click(function () {

            if (!$("#example").val()) {
                alert("PLEASE ENTER THE DETAILS!");
            }


        });
    });
</script>